body {
    letter-spacing: -0.025em;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

/* txt */
.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 70px; */
    padding: 120px 90px 0 90px;
}

.txt strong {
    /* display: block;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 100; */
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 18px 0;
    line-height: 1.3;
    position: relative;

}

.txt h2 {
    margin: 0 0 18px 0;
    font-size: 65px;
    font-weight: 600;
}


.txt h3 {
    margin: 0 0 40px 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.45;
}


.txt a {
    display: inline-block;
    padding: 13px 23px;
    border: 1px solid #C4CDE1;
    background: #fff;
    color: #000;
    align-self: flex-start;
    margin: 5px;
    border-radius: 10px;
    font-size: 15px;
}

.txt a:hover {
    padding: 13px 23px;
    background: #0A0A2A;
    color: #fff;
    align-self: flex-start;
}

.txt p {
    padding: 0 0 10px 0;
    font-size: 15px;
    line-height: 1;
}

.txt span {
    font-size: 17px;
    font-weight: 700;
}

.txt .ct {
    padding-bottom: 30px;
}



/*  텍스트2 */
dl {
    margin-top: 30px;
    position: relative;
}

dl:after {
    content: "";
    display: block;
    clear: both;
}

dl dt {
    font-weight: 500;
    color: #333;
    padding-bottom: 20px;
    line-height: 10px;
    font-size: 18px;
}

dl dd {
    font-size: 14px;
    color: #666;
    position: relative;
    top: -32px;
    left: 120px;
    line-height: 1.3;
    font-weight: 300;
}

/* header*/
.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    /* background: rgba(0, 0, 0, 0.75); */
    color: #333;
    line-height: 100px;
    z-index: 999;
    transition: top 0.5s;
    justify-content: center;
}

.Header a:hover {
    font-weight: 700;
}

.Header.on {
    top: -100px;
}

.Header .Gnb ul {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

/* page */
.Page .container {
    display: flex;
    gap: 100px;
    overflow: hidden;
}

.Page .container>div {
    flex: 1;
}


.Page .left {
    transform: translate(0, 200px);
    opacity: 0;
}

.Page.on .left {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.Page .right {
    opacity: 0;
}

.Page.on .right {
    opacity: 1;
    transition: 0.2s 0.3s;
}


/* navbar */
.navBar {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 999;
}

.navBar li {
    width: 50px;
}

.navBar li a {
    position: relative;
    display: block;
    font-size: 0;
    height: 12px;
}

.navBar li a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 30%;
    height: 1px;
    background: #333;
    transition: 0.5s;
}

.navBar li.on a::after {
    width: 100%;
}

.this_page {
    position: absolute;
    right: 0;
    top: -100px;
    text-align: right;
    white-space: nowrap;
}

/* 메뉴 */

.allOpen {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 999;
    font-size: 0;
    width: 35px;
    height: 35px;
    border-radius: 3px;

}

.allOpen.on {
    display: flex;
}

.allOpen button {
    border: none;
    outline: none;
    background: transparent;
}

.allOpen::before,
.allOpen::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #fff;
}

.allOpen::before {
    top: 7px;
}

.allOpen::after {
    bottom: 7px;
}

.allOpen button::before,
.allOpen button::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #fff;
    top: calc(50% - 2px);
}

.allOpen.on::before,
.allOpen.on::after {
    opacity: 0;
}

.allOpen.on button::before {
    transform: rotate(45deg);
}

.allOpen.on button::after {
    transform: rotate(-45deg);
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;

}

.cover.on {
    display: flex;
}

.cover ul {
    gap: 40px;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.cover ul li::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 3px;
    background: #6799FF;
    margin: 28px 0 0 10px;
    transition: 0.5s;

}

.cover ul li:hover::after {
    width: 10%;
}


.cover .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cover .inner .cv_menu {
    margin-top: 455px;
}

.cover .inner .cv_menu h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-top: 65px;
    color: #fff;
}

.cover .inner .cv_menu h2:after {
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    /* background: #999; */
    margin: -10px 0 0 390px;
}

.cover .inner .cv_inmenu {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-top: 80px;
}

.cover .inner .cv_inmenu span {
    font-size: 20px;
    padding: 0 20px 0 0;
    font-weight: 300;
}

.cover .inner .cv_inmenu strong {
    font-size: 40px;
    font-weight: 300;
}

.cover .inner .cv_inmenu li {
    display: flex;
    position: relative;
    padding: 20px 0;
    padding-left: 180px;
}

/* copyright */

.cover .copyright {
    position: fixed;
    width: 100%;
    bottom: 45px;
    text-align: right;
    right: 3%;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.1rem;
    z-index: 9999;
}

.copyright {
    position: fixed;
    width: 100%;
    bottom: 45px;
    text-align: right;
    right: 3%;
    font-size: 10px;
    font-weight: 700;
    color: #000;
    letter-spacing: 0.1rem;

}

/* bubble */
.center-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.center-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/*effect */

body {
    background-color: #87CEFA;
}

.bubbles {
    display: inline-block;
    font-family: arial;
    position: relative;
}

.bubbles h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff;
    z-index: 2;
    font-size: 30px;
}

.bubbles p {
    font-family: 'Montserrat', sans-serif;
    margin: 1em 0 0;
    color: #fff;
    z-index: 2;
    font-size: 17px;
    line-height: 1.3;
}

.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
}

/* pf */
.pf-box {
    width: 1600px;
    height: 700px;
    /* background: rgba(255, 255, 255, 0.2); */
    position: relative;
    /* top: 135px; */
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px 10px 10px 10px;
}

/* .pf-left */
.pf-left {
    float: left;
    width: 515px;
    height: 700px;
    background: rgba(255, 255, 255, 0.3);
    /* padding: 60px 70px 0 85px; */
    border-radius: 10px 0 0 10px;
}

/* .pf-right */


.pf-right {
    float: left;
    width: 1080px;
    height: 700px;
    position: relative;
    padding-top: 100px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0 10px 10px 0;
}


/* section01 CITYBREEZE */
.CB {
    background: #C4CDE1;
}

.cb_h2 {
    /* color: #4374D9; */
    color: #0A0A2A;
}


/* section02 HYBE */
.HB {
    background: #BDBDBD;

}

.hb a {
    display: inline-block;
    padding: 13px 23px;
    border: 1px solid #919191;
    background: #fff;
    color: #000;
    align-self: flex-start;
    margin: 5px;
}

.hb a:hover {
    padding: 13px 23px;
    background: #919191;
    color: #fff;
    align-self: flex-start;
}


/* section03 ESQUIRE */
.EQ {
    background: #ECDCC3;
}

.eq_h2 {
    color: #614B3E;
}

.eq a {
    display: inline-block;
    padding: 13px 23px;
    border: 1px solid #ECDCC3;
    background: #fff;
    color: #000;
    align-self: flex-start;
    margin: 5px;
}

.eq a:hover {
    padding: 13px 23px;
    background: #614B3E;
    color: #fff;
    align-self: flex-start;
}


/* section04 POLICE */
.PL {
    background: #8CBDED;
}

.pl_h2 {
    color: #003478;
}

.pl a {
    display: inline-block;
    padding: 13px 23px;
    border: 1px solid #AECAEF;
    background: #fff;
    color: #000;
    align-self: flex-start;
    margin: 5px;
}

.pl a:hover {
    padding: 13px 23px;
    background: #003478;
    color: #fff;
    align-self: flex-start;
}


/* section05 HACKERS */
.HK {
    background: #AECAEF;
}

.hk_h2 {
    color: #044ACE;
}

.hk a {
    display: inline-block;
    padding: 13px 23px;
    border: 1px solid #A4B4CA;
    background: #fff;
    color: #000;
    align-self: flex-start;
    margin: 5px;
}

.hk a:hover {
    padding: 13px 23px;
    background: #AECAEF;
    color: #fff;
    align-self: flex-start;
}


/* PROFILE */
.contact {
    margin: 0 auto;
}

.profile {
    width: 1200px;
    height: 100%;
    position: absolute;
    top: -20px;
    left: 0;
}

.skill {
    left: 30%;
}

.pro {
    margin-bottom: -20px;
}

.mg {
    padding-bottom: 5px;
}

.jp {
    padding: 0 0 5px 20px;
}

/* 프로필 돌아가는 원 */
.profile-img span {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    transform-origin: 50%, 50%;
    animation: d 30s infinite linear;
    margin: 30px;
    top: 0;
    right: -15px;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid #ddd;
}

@keyframes d {
    0% {
        transform: rotate(-180deg)
    }

    50% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(180deg)
    }
}


.profile-img span span {
    display: block;
    width: 30px;
    height: 30px;
    background: rgb(212, 244, 250, 0.2);
    border-radius: 50%;
    bottom: 134px;
    margin: 190px;
}

/* 프로필 내용 */
.profile dl {
    padding: 30px;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 250px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.profile dl span {
    letter-spacing: 0.2em;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 55px;
    position: relative;
}

.profile dl span:after {
    content: "";
    width: 20%;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 35px;
    left: 0;
}

.profile dt {
    display: block;
    color: #fff;
    font-weight: 500;
    position: relative;
    top: -20px;
}

.profile dd {
    font-size: 13px;
    color: #fff;
    position: relative;
    top: -55px;
    left: 110px;
    line-height: 20px;
    letter-spacing: 1.2px;
}



.mainVisual h2 {
    font-family: 'Montserrat', sans-serif;
    width: 1200px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 10px 0 0;
    color: #fff;
    z-index: 2;
    font-size: 30px;

}

.mainVisual h3 {
    width: 370px;
    margin: 1% 0 0 18%;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0.02em;
    display: flex;
    cursor: pointer;
    -webkit-text-stroke-color: #FCA89D;
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    transition: background-size .5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    font-size: 37px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.05em;
    transform: rotate(-90deg);
    position: absolute;
    top: 475px;
    left: -35px;
}



/* 화면 작업 */
.n-con {
    position: relative;
    right: 0;
    top: 75%;
    transform: translateY(-50%);
}

.n-con>img {
    bottom: 600px;
    right: 250px;
    margin-bottom: 200px;
    opacity: 0;
    transition: .8s;
}

.on .n-con>img {
    width: 150px;
    top: 22px;
    bottom: -27px;
    left: 0;
    opacity: 1;
    z-index: 1;
}


/* 컴퓨터화면-CB */
.box-wrap {
    width: 90%;
    height: 490px;
    background: #fff;
    border-radius: 14px 14px 14px 14px;
    position: absolute;
    /* top: 0; */
    left: 40px;
    overflow: hidden;
    border: 1px solid #333;
    opacity: 0;
    transition: .8s;
}

.on .box-wrap {
    opacity: 1;
}

.box-wrap:hover img {
    animation: linear CB 18s infinite;
}

@keyframes CB {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3300px);
    }

    100% {
        transform: translateY(0);
    }
}

/* 컴퓨터화면-HB */
.box-wrap2 {
    width: 90%;
    height: 490px;
    background: #fff;
    border-radius: 14px 14px 14px 14px;
    position: absolute;
    /* top: 0; */
    left: 40px;
    overflow: hidden;
    border: 1px solid #333;
    opacity: 0;
    transition: .8s;
}

.on .box-wrap2 {
    opacity: 1;
}

.box-wrap2:hover img {
    animation: linear HB 10s infinite;
}

@keyframes HB {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2100px);
    }

    100% {
        transform: translateY(0);
    }
}

/* 컴퓨터화면-EQ */
.box-wrap3 {
    width: 90%;
    height: 490px;
    background: #fff;
    border-radius: 14px 14px 14px 14px;
    position: absolute;
    /* top: 0; */
    left: 40px;
    overflow: hidden;
    border: 1px solid #333;
}

.on .box-wrap3 {
    opacity: 1;
}

.box-wrap3:hover img {
    animation: linear EQ 14s infinite;
}

@keyframes EQ {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1780px);
    }

    100% {
        transform: translateY(0);
    }
}

/* 컴퓨터화면-PL */
.box-wrap4 {
    width: 90%;
    height: 490px;
    background: #fff;
    border-radius: 14px 14px 14px 14px;
    position: absolute;
    /* top: 0; */
    left: 40px;
    overflow: hidden;
    border: 1px solid #333;
}

.on .box-wrap4 {
    opacity: 1;
}

.box-wrap4:hover img {
    animation: linear PL 9s infinite;
}

@keyframes PL {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1100px);
    }

    100% {
        transform: translateY(0);
    }
}

/* 컴퓨터화면-HK */
.box-wrap5 {
    width: 90%;
    height: 490px;
    background: #fff;
    border-radius: 14px 14px 14px 14px;
    position: absolute;
    /* top: 0; */
    left: 40px;
    overflow: hidden;
    border: 1px solid #333;
}

.on .box-wrap5 {
    opacity: 1;
}

.box-wrap5:hover img {
    animation: linear HK 15s infinite;
}

@keyframes HK {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1700px);
    }

    100% {
        transform: translateY(0);
    }
}

/* 아이폰 */
.n-iphone {
    width: 135px;
    height: 287px;
    position: absolute;
    top: 7px;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
    z-index: 1;
}

.on .n-iphone {
    left: 8px;
    opacity: 1;
}

.n-iphone:hover img {
    animation: linear iphone 18s infinite;
}

@keyframes iphone {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2250px);
    }

    100% {
        transform: translateY(0);
    }
}

.n-iphone02 {
    width: 135px;
    height: 288px;
    position: absolute;
    top: 7px;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
    z-index: 1;
}

.on .n-iphone02 {
    left: 8px;
    opacity: 1;
}


.n-iphone02:hover img {
    animation: linear iphone2 9s infinite;
}

@keyframes iphone2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-670px);
    }

    100% {
        transform: translateY(0);
    }
}



/* 여기서 부터 반응형 */





















@media(max-width: 768px) {

    .Wrap {
        position: relative;
        overflow-x: hidden;
        width: 100%;
        margin: 0 auto;

    }

    body {
        overflow-x: hidden;
    }


    .Wrap:after {
        content: "";
        display: block;
        clear: both;
    }


    /* header */


    /* 메뉴 */

    .allOpen {
        display: block;
        position: fixed;
        top: 25px;
        right: 10px;
        z-index: 999;
        font-size: 0;
        width: 33px;
        height: 33px;
        border-radius: 3px;

    }

    .allOpen.on {
        display: flex;
    }

    .allOpen button {
        border: none;
        outline: none;
        background: transparent;
    }

    .allOpen::before,
    .allOpen::after {
        content: "";
        position: absolute;
        left: 5px;
        right: 5px;
        height: 2px;
        background: #fff;
    }

    .allOpen::before {
        top: 7px;
    }

    .allOpen::after {
        bottom: 7px;
    }

    .allOpen button::before,
    .allOpen button::after {
        content: "";
        position: absolute;
        left: 5px;
        right: 5px;
        height: 2px;
        background: #fff;
        top: calc(50% - 2px);
    }

    .allOpen.on::before,
    .allOpen.on::after {
        opacity: 0;
    }

    .allOpen.on button::before {
        transform: rotate(45deg);
    }

    .allOpen.on button::after {
        transform: rotate(-45deg);
    }

    /* mopen */
    .cover {
        position: fixed;
        height: 100vh;
        background: rgba(0, 0, 0, 0.85);
        display: none;
    }

    .cover.on {
        display: flex;
    }

    .cover ul {
        gap: 40px;
        font-size: 50px;
        font-weight: 500;
        color: #fff;
    }

    .cover ul li::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 2px;
        background: #6799FF;
        transition: 0.5s;

    }

    .cover ul li:hover::after {
        width: 10%;
    }


    .cover .inner {

        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .cover .inner .cv_menu {}

    .cover .inner .cv_menu h2 {
        display: none;
    }

    .cover .inner .cv_menu h2:after {
        display: block;
        content: "";
        width: 100px;
        height: 1px;
        /* background: #999; */
        margin: -10px 0 0 0;
    }

    .cover .inner .cv_inmenu {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        margin-top: 0;
    }

    .cover .inner .cv_inmenu span {
        display: none;
    }

    .cover .inner .cv_inmenu strong {
        font-size: 30px;
        font-weight: 300;
    }

    .cover .inner .cv_inmenu li {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 20px 0;
    }

    /* copyright */

    .cover .copyright {
        position: fixed;
        width: 100%;
        bottom: 45px;
        text-align: right;
        right: 3%;
        font-size: 7px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 0.1rem;
        z-index: 9999;
    }

    /* navbar */
    .navBar {
        display: none;
    }

    /* mainvisual */
    .mainVisual h2 {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 1px 0 0;
        color: #fff;
        z-index: 2;
        font-size: 25px;
    }

    /* txt */
    .txt {
        position: absolute;
        top: 0;
        left: 0px;
        padding: 0 30px;
        background: none;

        width: 100%;
        overflow: hidden;
        z-index: 10;
    }



    .txt strong {
        /* display: block;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 100; */
        font-size: 14px;
        font-weight: 300;
        margin: 0 0 13px 0;
        line-height: 1.3;
        position: relative;

    }

    .txt h2 {
        margin: 0 0 13px 0;
        font-size: 50px;
        font-weight: 600;
    }


    .txt h3 {
        margin: 0 0 40px 0;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.45;
    }


    .txt a {
        display: inline-block;
        padding: 8px 18px;
        border: 1px solid #C4CDE1;
        background: #fff;
        color: #000;
        font-size: 13px;
        letter-spacing: 1.1px;
        align-self: flex-start;
        margin: 5px;
        border-radius: 10px;
    }

    .txt a:hover {
        padding: 8px 18px;
        background: #0A0A2A;
        color: #fff;
        align-self: flex-start;
    }

    .txt p {
        padding: 0 0 10px 0;
        font-size: 15px;
        line-height: 1;
    }

    .txt span {
        font-size: 17px;
        font-weight: 700;
    }

    .txt .ct {
        padding-bottom: 30px;
    }



    /*  텍스트2 */
    dl {
        margin-top: 10px;
        position: relative;
    }

    dl:after {
        content: "";
        display: block;
        clear: both;
    }

    dl dt {
        font-weight: 500;
        color: #333;
        padding-bottom: 20px;
        line-height: 15px;
        font-size: 15px;
    }

    dl dd {
        font-size: 15px;
        color: #666;
        position: relative;
        top: -11px;
        left: 0;
        line-height: 1.3;
        font-weight: 300;
        word-break: keep-all;
    }

    .dlt {
        display: none;
    }

    /* pf */
    .pf-box {
        width: 100%;
        height: 0;
        /* background: rgba(255, 255, 255, 0.2); */
        position: relative;
        /* top: 135px; */
        transform: translate(-50%, 0);

    }

    /* .pf-left */
    .pf-left {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        /* padding: 60px 70px 0 85px; */
        border-radius: 10px 0 0 10px;
    }

    /* .pf-right */


    .pf-right {
        float: left;
        width: 95%;
        height: 700px;
        top: 385px;
        position: relative;
        margin-left: 10px;
        /* background: rgba(255, 255, 255, 0.3); */
        background: none;
        border-radius: 0 10px 10px 0;
    }


    /* section01 CITYBREEZE */
    .CB {
        background: #C4CDE1;
    }

    .cb_h2 {
        /* color: #4374D9; */
        color: #0A0A2A;
    }


    /* section02 HYBE */
    .HB {
        background: #BDBDBD;

    }

    .hb a {
        display: inline-block;
        padding: 8px 18px;
        border: 1px solid #919191;
        background: #fff;
        color: #000;
        align-self: flex-start;
        margin: 5px;
    }

    .hb a:hover {
        padding: 8px 18px;
        background: #919191;
        color: #fff;
        align-self: flex-start;
    }

    /* section03 ESQUIRE */
    .EQ {
        background: #ECDCC3;
    }

    .eq_h2 {
        color: #614B3E;
    }

    .eq a {
        display: inline-block;
        padding: 8px 18px;
        border: 1px solid #ECDCC3;
        background: #fff;
        color: #000;
        align-self: flex-start;
        margin: 5px;
    }

    .eq a:hover {
        padding: 8px 18px;
        background: #614B3E;
        color: #fff;
        align-self: flex-start;
    }


    /* section04 POLICE */
    .PL {
        background: #8CBDED;
    }

    .pl_h2 {
        color: #003478;
    }

    .pl a {
        display: inline-block;
        padding: 8px 18px;
        border: 1px solid #AECAEF;
        background: #fff;
        color: #000;
        align-self: flex-start;
        margin: 5px;
    }

    .pl a:hover {
        padding: 8px 18px;
        background: #003478;
        color: #fff;
        align-self: flex-start;
    }


    /* section05 HACKERS */
    .HK {
        background: #AECAEF;
    }

    .hk_h2 {
        color: #044ACE;
    }

    .hk a {
        display: inline-block;
        padding: 8px 18px;
        border: 1px solid #A4B4CA;
        background: #fff;
        color: #000;
        align-self: flex-start;
        margin: 5px;
    }

    .hk a:hover {
        padding: 8px 18px;
        background: #044ACE;
        color: #fff;
        align-self: flex-start;
    }

    /* page */
    .Page {
        display: flex;
        overflow: hidden;

    }

    .Page .container>div {

        flex: 1;
    }


    .Page .left {
        transform: translate(0, 200px);
        opacity: 0;
    }

    .Page.on .left {
        transform: translate(0, 0);
        opacity: 1;
        transition: 0.5s 0.5s;
        z-index: 0;
    }

    .Page .right {
        opacity: 0;

    }

    .Page.on .right {
        opacity: 1;
        transition: 0.2s 0.3s;
    }

    /* 화면 작업 */
    .n-con {
        /* display: none; */
        position: relative;
        left: 0;
        top: 0;
        transform: translateY(-50%);
    }

    .n-con>img {
        bottom: 600px;
        right: 250px;
        margin-bottom: 200px;
        opacity: 0;
        transition: .8s;

    }

    .on .n-con>img {
        position: absolute;
        width: 100px;
        top: 0;
        bottom: -27px;
        left: 0;
        opacity: 1;
    }

    /* 컴퓨터화면-CB */
    .box-wrap {
        position: absolute;
        top: 20px;
        left: 0px;
        background: none;
        height: 40%;
        width: 100%;
        overflow: hidden;
        border: 1px solid #333;
        opacity: 0;
        transition: .8s;

    }

    .on .box-wrap {
        opacity: 1;
    }


    .box-wrap:hover img {
        animation: linear CB 12s infinite;
    }

    @keyframes CB {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-1050px);
        }

        100% {
            transform: translateY(0);
        }
    }

    /* 컴퓨터화면-HB */
    .box-wrap2 {
        position: absolute;
        top: 50px;
        left: 0px;
        background: none;
        height: 36%;
        width: 100%;
        overflow: hidden;
        border: 1px solid #333;
        opacity: 0;
        transition: .8s;
    }

    .on .box-wrap2 {
        opacity: 1;
    }

    .box-wrap2:hover img {
        animation: linear HB 6s infinite;
    }

    @keyframes HB {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-670px);
        }

        100% {
            transform: translateY(0);
        }
    }

    /* 컴퓨터화면-EQ */
    .box-wrap3 {
        position: absolute;
        top: 20px;
        left: 0px;
        background: none;
        height: 40%;
        width: 100%;
        overflow: hidden;
        border: 1px solid #333;
        z-index: 10;
        opacity: 0;
        transition: .8s;
    }

    .on .box-wrap3 {
        opacity: 1;
    }

    .box-wrap3:hover img {
        animation: linear EQ 5s infinite;
    }

    @keyframes EQ {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-520px);
        }

        100% {
            transform: translateY(0);
        }
    }

    /* 컴퓨터화면-PL */
    .box-wrap4 {
        position: absolute;
        top: 20px;
        left: 0px;
        background: none;
        height: 40%;
        width: 100%;
        overflow: hidden;
        border: 1px solid #333;
        z-index: 10;
        opacity: 0;
        transition: .8s;
    }

    .on .box-wrap4 {
        opacity: 1;
    }

    .box-wrap4:hover img {
        animation: linear PL 3s infinite;
    }

    @keyframes PL {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-278px);
        }

        100% {
            transform: translateY(0);
        }
    }

    /* 컴퓨터화면-HK */
    .box-wrap5 {
        position: absolute;
        top: 20px;
        left: 0px;
        background: none;
        height: 40%;
        width: 100%;
        overflow: hidden;
        border: 1px solid #333;
        z-index: 10;
        opacity: 0;
        transition: .8s;
    }

    .on .box-wrap5 {
        opacity: 1;
    }

    .box-wrap5:hover img {
        animation: linear HK 6s infinite;
    }

    @keyframes HK {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-485px);
        }

        100% {
            transform: translateY(0);
        }
    }

    /* 아이폰 */
    .n-iphone {
        /* display: none; */
        width: 89px;
        height: 190px;
        position: absolute;
        top: 5px;
        border-radius: 10px;
        overflow: hidden;
        opacity: 0;
        transition: 1s;
        z-index: 1;
    }

    .on .n-iphone {
        left: 5px;
        opacity: 1;
    }

    .n-iphone:hover img {
        animation: linear iphone 13s infinite;
    }

    @keyframes iphone {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-1500px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .n-iphone02 {
        width: 89px;
        height: 190px;
        position: absolute;
        top: 6px;
        border-radius: 10px;
        overflow: hidden;
        opacity: 0;
        transition: 1s;
        z-index: 1;
    }

    .on .n-iphone02 {
        left: 5px;
        opacity: 1;
    }


    .n-iphone02:hover img {
        animation: linear iphone2 9s infinite;
    }

    @keyframes iphone2 {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-450px);
        }

        100% {
            transform: translateY(0);
        }
    }


    /* PROFILE */
    .contact {
        margin: 0 auto;
    }

    .profile {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -20px;
        left: 0;
    }

    .skill {
        padding-top: 350px;
    }

    .pro {
        margin-bottom: -20px;
    }

    .mg {
        padding-bottom: 5px;
    }

    .jp {
        padding: 0 0 5px 20px;
    }

    /* 프로필 내용 */
    .profile dl {
        padding: 30px;
        position: relative;
        top: 50px;
        left: 35%;
        transform: translateX(-50%);
        width: 75%;
        height: 150px;
        border: 0;
        border-radius: 10px;
    }

    .profile dl span {
        letter-spacing: 0.2em;
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        /* padding-bottom: 50px; */
        position: relative;
    }

    .profile dl span:after {
        content: "";
        width: 20%;
        height: 1px;
        background: #ddd;
        position: absolute;
        top: 35px;
        left: 0;
    }

    .profile dt {
        display: block;
        color: #fff;
        font-weight: 500;
        position: relative;
        top: -28px;
        line-height: 8px;
    }

    .profile dd {
        font-size: 13px;
        color: #fff;
        position: relative;
        top: -60px;
        left: 110px;
        line-height: 18px;
        letter-spacing: 1.2px;
    }

    .profile .pro {
        font-size: 13px;
        color: #fff;
        position: relative;
        top: -60px;
        left: 130px;
        line-height: 18px;
        letter-spacing: 1.2px;
    }

    .profile .mg {
        font-size: 13px;
        color: #fff;
        position: relative;
        top: -60px;
        left: 130px;
        line-height: 18px;
        letter-spacing: 1.2px;
    }

}