.top_banner {
    padding: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5rem;
    background-color: rgb(234, 237, 241);

}

.top_banner .container {
    display: flex;
    justify-content: flex-end;
    width: 60rem;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.top_banner ul>li {
    display: inline-block;
    margin: 0 10px;

}

.top_banner ul>li a {
    color: #f29600;
}

.header {
    margin: 0 0 58px 0;

}


.header h1 {
    text-align: center;

}


.gnb {
    position: absolute;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 56px;
    text-align: center;
}

.gnb a {
    display: block;
    font-size: 14px;
    width: 100%;
    font-weight: 700;

}

.gnb>ul {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.gnb>ul>li {
    position: relative;
    flex: 1;
    z-index: 1;
    vertical-align: top;
    display: inline-block;

}


.gnb>ul>li .smenu {
    position: absolute;
    top: 100%;
    background: #fff;
    display: none;
    line-height: 35px;
    width: 170px;
    text-align: center;
    z-index: 999;
}

.header .gnb>ul>li:hover .smenu {
    display: block;
}

nav>ul>li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #f29600;
    transition: 0.5s;
}

nav>ul>li:hover::after {
    width: 100%;
}



nav>ul>li a {
    display: block;
}

.mainVisual {
    position: relative;
}

.mainVisual .mainSlider figure {
    position: relative;
    height: 680px;


}

.mainVisual .mainSlider .itm01 h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    font-size: 72px;
    line-height: 1;
    font-weight: 900;
    color: #f29600;
    text-align: center;
}

.mainVisual .mainSlider .itm01 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    font-size: 36px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
}

.mainVisual .mainSlider .itm02 {}

.mainVisual .mainSlider .itm02 p {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    padding: 220px 0 0 0;
    color: #fff;
}


.mainVisual .mainSlider .itm02 strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    font-weight: 700;
    color: #f29600;

}

.mainVisual .mainSlider .itm02 p span {
    font-size: 36px;
    line-height: 1;
    display: block;
    margin: 90px 0 30px 650px;
    font-size: 50px;
}

.mainVisual .mainSlider .itm02 p span strong {
    font-size: 150px;
}

.mainVisual .itm01 {
    background: url(../img/main-img01.jpg) no-repeat center center/cover;
}


.mainVisual .itm02 {
    background: url(../img/main-img02.jpg) no-repeat center center/cover;
}


.mainVisual .itm03 {
    background: url(../img/main-img03.jpeg) no-repeat center center/cover;
}

.mainVisual .itm04 {
    background: url(../img/main-img04.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlider .slick-dots {
    position: absolute;
    inset: auto auto 60px 50%;
    transform: translateX(-50%);
}

.mainVisual .slick-dots li {
    display: inline-block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    width: 10px;
    height: 10px;
    margin: 0 5px;
}


.mainVisual .mainSlider .slick-dots li.slick-active {
    background: #333;
}

.mainVisual .mainSlider .slick-dots button {
    display: none;
}

.mainVisual .box .num {
    position: absolute;
    bottom: 30px;
    left: 90%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 600;
    color: #f29600;
}


.pageTop {
    position: relative;
    width: 100%;
    margin-bottom: 200px;
    padding: 100px 0 0 0;
}

.pageTop .tit {
    position: relative;
    top: 70px;
    left: 43%;
    display: inline-block;
    font-weight: 700;
    z-index: 1;

}


.pageTop .tit h2 {
    position: relative;
    font-size: 40px;
    text-align: center;

}




.pageTop .tit p {
    position: relative;
    padding: 10px 0 0 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #a0a0a0;
    text-align: center;

}

@keyframes run {
    from {
        width: 100px;
    }

    to {
        width: calc(30% + 300px);
    }
}

.pageTop .rightBar {
    position: absolute;
    top: 100px;
    left: 0;
    width: calc(30% + 300px);
    height: 200px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 450px;
    background-image: linear-gradient(270deg, #f77706, #f5c45a);
    animation-name: run;
    animation-duration: 2s;
    animation-delay: 1s;


}

.pageTop .rightBar img {
    position: absolute;
    width: 150px;
    top: 20px;
    right: 50px;
    opacity: 0;
}

.pageTop .leftBar {
    position: absolute;
    top: 80px;
    left: 0;
    width: 40%;
    height: 300px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    background: #f7f7f7;
    transform: translate3d(-100%, 0, 0);
}

.pageTop .pic {
    position: absolute;
    top: 30px;
    right: calc(80% - 200px);
    transform: translate3d(1%, 0, 0);
    opacity: 0;
}

.serviceTab {
    margin: -200px 0 0 0;
    /* background: #f1f1f1; */
    text-align: center;
}

.serviceTab .container {
    gap: 30px;

}

.serviceTab .container>div {
    flex: 1;
}

.serviceTab .tab_content>div {
    display: none;
}

.serviceTab .tab_content>div.on {
    display: block;
}

.serviceTab .tab_menu ul {
    float: none;
    width: 40%;
    margin: 0 auto;
    font-size: 0;

}

.serviceTab .tab_menu li {
    display: inline-block;
    font-size: 20px;
    text-align: center;




}

.serviceTab .tab_menu li a {
    margin-left: 30px;
    padding: 10px 0 10px 0;
    color: #999999;
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    border-bottom: 1px solid #fff;


}

.serviceTab .tab_menu li.on a {
    color: #000;
    border: 0px solid #dadada;
    border-bottom: 2px solid #f29600;
    background: #fff;
    font-weight: 400;
    display: block;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}

.serviceTab .tab_menu li:first-child a {
    margin-left: 0;
}

/* 1 */
.activities {

    position: relative;
    width: 600px;
    margin: 120px auto 0;
}

.activities .btn_years {
    position: absolute;
    top: -20px;
    left: -280px;
    text-align: center;
}

.activities .btn_years a {
    display: block;
    font-size: 48px;
    font-weight: 700;
    color: #eee;
    line-height: 1.3;
}

.activities .btn_years .on {
    color: #333;
}

/* 포인핸드 영어 옆으로 */
.activities .subtit {
    position: absolute;
    top: 0;
    right: -200px;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: 'gilroy';
    transform: rotate(90deg) translate(100%, 0%);
    transform-origin: top right;
    font-weight: 700;
}

.activities .list_activities .thumbBox:before {
    padding-bottom: 50%;
}

.activities .list_activities .desc {
    margin-top: 30px;
}

.activities .list_activities .desc strong {
    font-size: 22px;
    font-weight: bold;
}

.activities .list_activities .desc p {
    margin-top: 10px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.activities .list_activities ul {
    display: none;
}

.activities .list_activities ul li+li {
    margin-top: 80px;
}

.activities .list_activities ul.on {
    display: block;
}

.act-obj {
    display: block;
    position: absolute;
    top: 1200px;
    right: 0;
    transform: translateY(50%);
}

.tab_content img {
    width: 100%;
}

.tab_content .text {

    margin-top: 300px;
}

.tab_content .text h3 {

    font-size: 22px;
    font-weight: bold;
}

.tab_content .text p {
    margin-top: 10px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.tab_content .slick-dots li {
    display: inline-block;
    border-radius: 50%;
    background: #f00;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}


.tab_content .slick-dots li.slick-active {
    background: #333;
}


.tab_content .slick-dots button {
    display: none;
}



.tab_content .notice a {
    display: flex;
    justify-content: space-between;
}



.tab_content .notice img {
    position: relative;
    padding: 80px 0 20px -10px;
    overflow: hidden;


}

.tab_content .notice figure {
    position: relative;
    flex: 1;
}

.tab_content .notice figure::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    border-bottom: 2px solid #f5c45a;
    transition: 0.5s;
}



.tab_content .notice figure:hover::after {
    width: 50%;

}


.tab_content .notice span {
    padding: 10px;
    font-size: 15px;
    color: #999;
    text-decoration: line-through;

}

/* 2 */

.bar-txtBox {
    text-align: center;
    padding: 100px 0 0 0;
    background: #f7f7f7;
}

.bar-txtBox:before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-image: linear-gradient(270deg, #f77706, #f5c45a);
}

.bar-txtBox .tit {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.bar-txtBox .tit .line {
    display: inline-block;
    position: relative;
}

.bar-txtBox .tit .line strong {
    display: inline-block;
    position: relative;
    font-weight: 400;
}

.bar-txtBox .tit .line i {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 20px;
    background: #ffec53;
}

.bar-txtBox .txt {
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    color: #a0a0a0;
}

.bar-txtBox.none:before {
    display: none;


}

.main-donation-info {
    position: absolute;
    top: 160px;
    right: 570px;
    font-size: 15px;
    text-align: right;
    font-weight: 700;
}

.main-donation-info span {
    display: block;
    margin-top: 5px;
    font-size: 24px;
}

.main-donation-num {
    position: absolute;
    top: 185px;
    right: 640px;
    font-size: 28px;
    text-align: right;
    font-weight: 700;
}

.main-donation_won {
    position: absolute;
    top: 185px;
    right: 568px;
    font-size: 28px;
    text-align: right;
    font-weight: 700;
}

.number {
    position: absolute;
    top: 185px;
    right: 595px;
    font-size: 28px;
    text-align: right;
    font-weight: 700;
}

/* 아래 */
.main_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    z-index: 10;
    background: #f5c45a;
}

.main_bottom .pawinhandInfo {
    display: flex;
    align-items: center;
    height: 55px;
    margin-left: 20px;
    border-right: 1px solid #ddd;

}

.main_bottom .pawinhandInfo li {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.main_bottom .pawinhandInfo li img {
    margin-right: 10px;
}

.main_bottom .pawinhandInfo li strong {
    display: inline-block;
    margin-left: 15px;
}

.main_bottom .app_download {
    display: flex;
    align-items: center;
    margin: 10px 60px 10px 0;
    font-size: 13px;
}

.main_bottom .app_download a {
    display: block;
    width: 34px;
    margin-left: 10px;

}

.main_bottom .app_download a img {
    width: 100%;
}

.pawinhandInfo .number {
    float: left;
    width: 30%;
    list-style: none;
    border-left: 1px solid #ddd;
}

.pawinhandInfo .number:first-child {
    border-left: 0;
}


/* d */

html {
    font-size: 20px;
}

/* .container {
    width: 1200px;
} */

.container:after {
    content: "";
    clear: both;
    display: block;
}

#wrap {
    min-width: 60rem;
}


.section {
    text-align: center;
}

.section h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.section p {
    font-size: 0.7rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.section figure img {
    width: 100%;
}

/* #event {background:#f2f2f2;} */
#event figure {
    padding: 0 1.85rem;
}

#event .slider-menu {
    margin-bottom: 1rem;
    display: flex;
    padding: 0 0 0 690px;
    cursor: pointer;
}

#event .slider-menu li {
    display: block;
    padding: 10px;
    font-size: 48px;
    font-weight: 700;
    color: #eee;
    line-height: 1.3;
}

#event .slider-menu li.on {
    display: block;
    font-size: 48px;
    font-weight: 700;
    color: #333;
    line-height: 1.3;
}

#event .tab-con {
    position: relative;
    height: 20rem;
    overflow: hidden;
}

#event .tab-con .event-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
}

#event .tab-con .event-slider.on {
    visibility: visible;
}

.tab-con .text {
    position: inherit;
    padding: 10px 0 0 0;
    font-size: 15px;
    font-weight: 700;
}


/* count */
#MD_main {
    margin: 0px auto 0px;
    padding: 0 200px 50px 300px;
    max-width: 100%;

}

.main_bn {
    overflow: hidden;
    padding-bottom: 6px;
    margin: 60px auto;
}



.main_bn .flex {
    display: flex;
    overflow: hidden;
    background: #fff;
}

.main_bn li {
    position: relative;
    overflow: hidden;
}

.main_bn li a {
    display: block;
    width: 100%;
    text-align: center;
}

.main_bn li img {
    width: 100%;
    height: auto;
}

.main_bn li .txt1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-20%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.030em;
    transition: all 1s ease;
    opacity: 0;
}

.main_bn li:hover .txt1 {
    transform: translate(-50%, -50%);
    opacity: 1;

}

.main_bn li .txt2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-80%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.030em;
    transition: all 1s ease;
    opacity: 0;
}

.main_bn li:hover .txt2 {
    transform: translate(-50%, -50%);
    opacity: 1;
}





/*  메인3 */


#wrap {
    min-width: 95rem;
}

#product {
    padding: 0 0 2rem 0;
    background: #f7f7f7;
    text-align: center;
}

#product>h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#product>h2:after {
    content: "";
    display: block;
    width: 0;
    height: 0.15rem;
    /* background: var(--mc); */
    margin: 0.5rem auto 1rem auto;
    transition: 0.5s;
}

#product.on>h2:after {
    width: 5rem;
}

#product>p {
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

#product .container {}

#product .slick-slide img {
    display: block;
    margin: -55px 0;
}

#product .container figure {
    position: relative;
    width: 27.5rem;
    height: 27.5rem;
    margin: 0 1rem;

}

#product .container figure .case {
    position: absolute;
    top: 10%;
    height: 80%;
    width: 100%;
    border: 1px solid #ddd;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 10px;
}

#product .container figure:hover .case {
    transform: scale(1.1);
}

#product .container figure .itm01 {
    background: url(../img/product01.jpg) no-repeat center center/cover;
}

#product .container figure .itm02 {
    background: url(../img/product02.jpg) no-repeat center center/cover;
}

#product .container figure .itm03 {
    background: url(../img/product03.jpg) no-repeat center center/cover;
}

#product .container figure .itm04 {
    background: url(../img/product04.png) no-repeat center center/cover;
}

#product .container figure .itm05 {
    background: url(../img/product05.jpg) no-repeat center center/cover;

}

#product .container figure .case .txt {
    text-align: left;
    color: #000;
    padding: 16rem 2rem;
}

#product .container figure .case .txt h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#product .container figure .case .txt p {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
    line-height: 1.2;
}

#product .container figure .case .txt a {
    display: block;
}

#product .container figure .case .txt span {
    display: inline-block;
    width: 0;
    overflow: hidden;
    transition: 0.5s;

}

#product .container figure:hover .case .txt span {
    padding: 60px 0 0 0;
    width: 1.5rem;

}


#Adopt {
    background: #f2f2f2;
}

#Adopt .container {
    padding: 100px;
    display: flex;
}

#Adopt .left {
    position: relative;
    flex: 7;
    height: 23rem;
    background: url(../img/main3.jpg) no-repeat center center/100% auto;
    /* transition: 0.5s; */
}

#Adopt .right {
    flex: 5;
    height: 23rem;
}

#Adopt .left .txt {
    position: absolute;
    bottom: 7rem;
    left: 5rem;
    color: #000;
    /* transition: 0.5s; */
}

#Adopt .left .txt h3 {
    font-size: 1.75rem;
    font-weight: 700;
}

#Adopt .left .txt h3:after {
    content: "";
    display: block;
    width: 2rem;
    height: 0.1rem;
    background: #f29600;
    margin: 1.5rem 0;
    transition: 0.5s;
}

#Adopt .left .txt p {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 2rem;
}

#Adopt .left .txt a {
    display: block;
}

#Adopt .left .txt span {
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.5s;
}

#Adopt .left:hover {
    /* background-size: 110% auto; */
}

#Adopt .left:hover .txt {
    right: 4rem;
}

#Adopt .left:hover .txt h3:after {
    width: 10rem;
}

#Adopt .left:hover .txt span {
    width: 5.2rem;
}

#Adopt .right {
    padding: 3rem;
}

#Adopt .right h3 {
    font-size: 1.75rem;
    font-weight: 700;
    padding: 1rem 0;
}

#Adopt .right h3 a {
    float: right;
    display: block;
    font-size: 0.75rem;
    font-weight: 400;
    border: 1px solid #ddd;
    line-height: 1.6rem;
    border-radius: 0.8rem;
    padding: 0 1rem;
}

#Adopt .right h3 a i {
    margin-left: 0.5rem;
}

#Adopt .right img {
    display: flex;
    width: 50%;
}

#Adopt .right .list li {
    border-bottom: 1px solid #ddd;
}

#Adopt .right .list li a {
    display: block;
    line-height: 3rem;
}

#Adopt .right .list li span {
    float: right;
    font-size: 0.65rem;
}


#service {
    padding: 5rem;
}

#service h2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

#service .container {
    text-align: center;
    font-size: 0;
}

#service .container figure {
    display: inline-block;
    font-size: 1rem;
    width: 10rem;
    position: relative;
}


#service .container figure .icon01 strong {
    background-position: -100px 0;
}

#service .container figure span {
    display: block;
    padding-top: 20px;
    font-weight: 600;
}

/* #service .container figure .icon02 strong {
    background-position: 0 0;
}

#service .container figure .icon03 strong {
    background-position: -200px 0;
}

#service .container figure .icon04 strong {
    background-position: -300px 0;
} */

#service .container figure~figure:after {
    content: "";
    display: block;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 1px;
    height: 1.5rem;
    /* background: var(--dd); */
}

/* pop */
.popup_one {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 500px;
    background: #fff;

}

.popup_one img {
    width: 450px;
    height: 500px;
    cursor: pointer;
}

.popup_one p {
    margin: 10px 0 0 5px;
    font-size: 15px;
    cursor: pointer;
}

.popup_one button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;

}

.popup_two {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 500px;
    background: #fff;

}

.popup_two img {
    width: 450px;
    height: 500px;
    cursor: pointer;
}

.popup_two p {
    margin: 10px 0 0 5px;
    font-size: 15px;
    cursor: pointer;

}

.popup_two button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;

}




/* footer */

#footer body {
    overflow-x: hidden;
    height: 100%;
    color: #777;
    font: 16px;
    letter-spacing: -.06em;
    -webkit-text-size-adjust: none;
}

#footer {
    padding: 0 0 80px;
    border-top: 1px solid #dbdbdb;
}

#footer .menuWrap {
    border-bottom: 1px solid #dbdbdb;
}

#footer .menuWrap .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    min-width: 1024px;
    max-width: 1280px;
    margin: 0 auto;
}

#footer .menuWrap nav {
    padding: 15px 0 15px 0;
    margin-left: -16px;
    ;
}

#footer .menuWrap nav>a {
    position: relative;
    margin-left: 16px;
    color: #222;
    font-size: 15px;
}

#footer .menuWrap nav strong {
    font-family: 'SDNeoM', 'notoM';
    color: #000;
}

#footer .ftinfo {
    display: flex;
    justify-content: space-between;
    padding: 54px 0 0;
    margin: 0 auto;
    min-width: 1024px;
    max-width: 1280px;
}

#footer .ftinfo .info {
    overflow: hidden;
    margin: 16px 0 0;
    font: 14px/1.7 'SDNeoL', 'notoL';
}

#footer .ftinfo .info .inner {
    margin-left: -13px;
}

#footer .ftinfo .info span {
    position: relative;
    display: inline-block;
    margin-left: 13px;
}

#footer .ftinfo .info span:after {
    content: "";
    position: absolute;
    top: 7px;
    left: -8px;
    width: 1px;
    height: 10px;
    background: #ccc;
}

#footer .ftinfo .info .non:after {
    display: none;
}

#footer .ftinfo .info .lgEscrow {
    margin: 9px 0 0;
    font-size: 14px;
    color: #222;
}

#footer .ftinfo .info .lgEscrow em {
    margin: 3px 0;
    color: #777;
    line-height: 1.3;
    font-family: 'SDNeoL', 'notoL';
}

#footer .ftinfo .info .lgEscrow button {
    text-decoration: underline;
}

#footer .ftinfo .info .copyRight {
    margin-top: 10px
}

#footer .ftinfo .info_2 {
    width: 380px;
    height: 212px;
    padding: 31px 31px;
    background: #f3f3f3;
    box-sizing: border-box;
}

#footer .ftinfo .info_2 dl dt {
    color: #555;
}

#footer .ftinfo .info_2 dl dd {
    font-size: 14px;
}

#footer .ftinfo .info_2 dl dd strong {
    font: 30px/1.6 'roboM';
    color: #555;
    margin-right: 5px;
}

#footer .ftinfo .info_2 dl dd a.btn {
    display: flex;
    align-items: center;
    width: 110px;
    height: 32px;
    margin-top: 11px;
    color: #222;
    border: 1px solid #222;
    box-sizing: border-box;
    padding-left: 18px;
}