body {
    letter-spacing: -0.025em;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
}

.txt strong {
    display: block;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 100;

}

.txt h2 {
    margin: 0 0 20px 0;
    font-size: 65px;
    font-weight: 600;
}

.txt h3 {
    margin: 0 0 40px 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.45;
}

.txt a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ddd;
    background: #333;
    color: #fff;
    align-self: flex-start;
}

.txt a:hover {
    padding: 10px 20px;
    background: #FFD9FA;
    color: #fff;
    align-self: flex-start;
}

.txt p {
    padding: 0 0 10px 0;
    font-size: 15px;
    line-height: 1;
}

.txt span {
    font-size: 17px;
    font-weight: 700;
}

.txt .ct {
    padding-bottom: 30px;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    /* background: rgba(0, 0, 0, 0.75); */
    color: #333;
    line-height: 100px;
    z-index: 999;
    transition: top 0.5s;
    justify-content: center;
}

.Header a:hover {
    font-weight: 700;
}

.Header.on {
    top: -100px;
}

.Header .Gnb ul {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

/* 그라데이션 */


.mainVisual {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #ee7752, #FFB2D9, #B2CCFF, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.left {
    margin: 0 0 20px 0;
    font-size: 65px;
    font-weight: 900;
}

/*pt01  */


.CB .container {
    display: flex;
    gap: 100px;
    overflow: hidden;
}

.CB .container>div {
    flex: 1;
}


.CB .left {
    transform: translate(0, 200px);
    opacity: 0;
}

.CB.on .left {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.CB .right {
    opacity: 0;
}

.CB.on .right {
    opacity: 1;
    transition: 0.5s 1s;
}

.Story {
    background: #F5F2ED
}




.People .right {
    order: -1;
}



/* .pf-right */
/* 



.mainVisual .box {
    background: #f2f2f2;

}

.Sns img {
    width: 100%
}

.Sns .container::after {
    content: "";
    display: block;
    clear: both;
}

.Sns .container>* {
    position: relative;
    float: left;
    width: 20%;
    overflow: hidden;
}

.Sns .container .tit {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
}

.Sns .container .tit span {
    display: block;
}

.Sns .container figure:hover .link {
    top: 0;
} */

/* .Sns .container .link {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
} */



.navBar {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 999;
}

.navBar li {
    width: 50px;
}

.navBar li a {
    position: relative;
    display: block;
    font-size: 0;
    height: 15px;
}


.navBar li a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 30%;
    height: 1px;
    background: #333;
    transition: 0.5s;
}

.navBar li.on a::after {
    width: 100%;
}

.this_page {
    position: absolute;
    right: 0;
    top: -100px;
    text-align: right;
    white-space: nowrap;
}

.allOpen {
    /* position: relative;
    display: block;
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.35); */

    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 999;
    font-size: 0;
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 3px;

}

.allOpen.on {
    display: flex;
}

.allOpen button {
    border: none;
    outline: none;
    background: transparent;
}

.allOpen::before,
.allOpen::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 4px;
    background: #fff;
}

.allOpen::before {
    top: 7px;
}

.allOpen::after {
    bottom: 7px;
}

.allOpen button::before,
.allOpen button::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 4px;
    background: #fff;
    top: calc(50% - 2px);
}

.allOpen.on::before,
.allOpen.on::after {
    opacity: 0;
}

.allOpen.on button::before {
    transform: rotate(45deg);
}

.allOpen.on button::after {
    transform: rotate(-45deg);
}

.cover {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;

}

.cover.on {
    display: flex;
}

.cover ul {
    /* display: flex; */
    gap: 40px;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}

.cover ul li {
    position: relative;
    text-align: center;
    padding: 30px 0 0 0;
}

.cover ul li::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 3px;
    background: #f00;
    transition: 0.5s;
}

.cover ul li:hover::after {
    width: 100%;
}




/* dtd */




/* .pf-left */




/* .pf-right */


.pf-right {
    float: left;
    width: 683px;
    height: 700px;
    position: relative;
    padding-top: 100px;
}

/* slick-slide */


.main_slide img {
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 14px 14px 14px 14px;
    top: 0;
    left: 0;
    object-fit: cover;
    margin: 50px 100px 0 0;
    border: 1px solid #333;

}

.box-wrap {
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 14px 14px 14px 14px;
    position: absolute;
    top: 50px;
    left: 0;
    overflow: hidden;
    border: 1px solid #333;
}

.box-wrap img {
    position: absolute;
    top: 0;
    left: 0;
}

.CB .slick-current.on .box-wrap img {
    animation: 7.5s 0.5s p1-slide linear both;
}

@keyframes p1-slide {
    0% {
        top: 0;
    }

    100% {
        top: -1980px;
    }
}

.box-wrap2 {
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 14px 14px 14px 14px;
    position: absolute;
    top: 50px;
    left: 0;
    overflow: hidden;
    border: 1px solid #333;
}

.box-wrap2 img {
    position: absolute;
    top: 0;
    left: 0;
}

.CB .slick-current.on .box-wrap2 img {
    animation: 5.5s 0.5s p2-slide linear both;
}

@keyframes p2-slide {
    0% {
        top: 0;
    }

    100% {
        top: -1180px;
    }
}

.box-wrap3 {
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 14px 14px 14px 14px;
    position: absolute;
    top: 50px;
    left: 0;
    overflow: hidden;
    border: 1px solid #333;
}

.box-wrap3 img {
    position: absolute;
    top: 0;
    left: 0;
}

.CB .slick-current.on .box-wrap3 img {
    animation: 4.5s 0.5s p3-slide linear both;
}

@keyframes p3-slide {
    0% {
        top: 0;
    }

    100% {
        top: -995px;
    }
}

.box-wrap4 {
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 14px 14px 14px 14px;
    position: absolute;
    top: 50px;
    left: 0;
    overflow: hidden;
    border: 1px solid #333;
}

.box-wrap4 img {
    position: absolute;
    top: 0;
    left: 0;
}

.CB .slick-current.on .box-wrap4 img {
    animation: 4.5s 0.5s p4-slide linear both;
}

@keyframes p4-slide {
    0% {
        top: 0;
    }

    100% {
        top: -595px;
    }
}


.slick-dots {
    position: absolute;
    top: 33px;
    right: 31px;
    cursor: pointer;
}

.slick-dots>li {
    width: 12px;
    height: 12px;
    margin-bottom: 20px;
}

.slick-dots>li:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ddd;
    transition: 0.3s;
}

.slick-dots>li.slick-active:before {
    content: "";
    display: block;
    background: #333;
    width: 12px;
    border-radius: 12px;
}

.slick-dots>li>button {
    display: none;
}

section#pf1 #p1-rconer {
    width: 70px;
    height: 70px;
    background: #F5F2ED;
    position: absolute;
    top: 90px;
    left: 1527px;
    border-bottom: 1px solid #f00;
    transform: rotate(45deg);
}

s

/* pf1 */
.mb {
    padding-top: 100px;
}

section#pf1 #p1-lshadow {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #ddd;
    top: 785px;
    left: 339px;
    border-radius: 50%;
    filter: blur(6px);
}


.pf-box {
    width: 1200px;
    height: 700px;
    background: #dbdbdb;
    position: relative;
    /* top: 135px; */
    left: 50%;
    transform: translate(-50%, 0);
}

.pf-box {
    width: 1200px;
    height: 700px;
    background: #fff;
}

/* .pf-left */
.pf-left {
    float: left;
    width: 515px;
    height: 698px;
    background: #fff;
    padding: 76px 70px 0 85px;
}




/*  */