.mainVisual {
    position: relative;
}

.mainVisual .mainSlider figure {
    position: relative;
    height: 750px;

}

.mainVisual .mainSlider .slick-dots {
    position: absolute;
    inset: auto auto 60px 50%;
    transform: translateX(-50%);
}

.mainVisual .mainSlider .slick-dots li {
    display: inline-block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.mainVisual .mainSlider .slick-dots li.slick-active {
    background: #333;
}

.mainVisual .mainSlider .slick-dots button {
    display: none;
}






.mainVisual .itm01 {
    background: url(../img/main01.png) no-repeat center center/cover;
}


.mainVisual .itm02 {
    background: url(../img/main02.png) no-repeat center center/cover;
}



.mainVisual .itm03 {
    background: url(../img/main03.jpg) no-repeat center center/cover;
}

.mainVisual .itm04 {
    background: url(../img/main04.jpg) no-repeat center center/cover;
}