/* * {
    font-family: 'EB Garamond', serif;
} */

* {
    border: 1px solid --#f00;
}

body {
    letter-spacing: -0.025em;
}

.container {
    width: 1600px;
    margin: 0 auto;
}


.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: #333;
    background: #fff;
    line-height: 100px;
    z-index: 999;
    transition: top 0.5s;
}


.Header h1 {
    padding-left: 100px;
}

.Header img {
    width: 170px;
}

.Header.on {
    top: -100px;

}

.Header .Gnb ul {
    display: flex;
    gap: 40px;
    font-size: 13px;
    font-weight: 400;
    padding-left: 910px;
}


.Header .Gnb {
    position: absolute;
    width: 100%;
    line-height: 56px;
    text-align: center;
}


.Header .Gnb a {
    display: block;
    font-size: 14px;
    width: 100%;
    font-weight: 500;

}


.Header .Gnb>ul {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}


.Header .Gnb>ul>li {
    position: relative;
    flex: 1;
    z-index: 1;
    vertical-align: top;
    display: inline-block;

}



.Header .Gnb>ul>li .smenu {
    position: absolute;
    top: 100%;
    background: #fff;
    display: none;
    line-height: 35px;
    width: 170px;
    text-align: center;
    z-index: 999;
}


nav>ul>li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #ddd;
    transition: 0.5s;
}

nav>ul>li:hover::after {
    width: 100%;
}


.this_page {
    position: absolute;
    right: 0;
    top: -100px;
    text-align: right;
    white-space: nowrap;
}



/* mainvisual swiper*/


.mainVisual {
    position: relative;

}

.mainVisual .txt_left {
    position: absolute;
    padding: 200px 0 0 60px;
    font-size: 160px;
    color: #fff;
}



.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide .main_right {
    padding: 100px 0 0 0;

    color: #fff;

}

.swiper-slide img {
    display: block;
    width: 630px;
    height: 800px;
    padding: 0 0 100px 970px;
    object-fit: cover;
}


.swiper-slide .txt_left {
    font-family: 'EB Garamond', serif;
    position: absolute;
    padding: 300px 0 0 0;
    font-size: 110px;
    font-weight: 600;
    /* color: #D9E5FF; */
    color: #333;
    border-bottom: 1px solid #000;


}


.swiper-pagination {
    padding: 0 0 100px 0;
    text-align: center;
}


/* work */


.Section_work {

    padding: 100px 0;
    text-align: center;
    background: #feedec;
}

.Section_work .container {
    max-width: 1900px;
    width: 1600px;
    margin: 0 auto;
    position: relative;

}

.Section_work h2 {
    padding-top: 20px;
    text-align: left;
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    border-top: 2px solid #fff;
}

.Section_work p {
    text-align: left;
    font-size: 20px;
    font-weight: 400;


}

.Section_work h3 {
    display: block;
    margin: 0 0 30px 0;
    font-size: 20px;
}

.Section_work strong {
    display: block;
    margin: 0 0 10px 0;
    font-size: 25px;
    font-weight: 500;
}


.Section_work .work_cc>div {
    position: relative;


}

.Section_work .work_cc>div a::after {
    content: "\e907";
    font-family: xeicon !important;
    position: absolute;
    bottom: 0;
    left: 8%;
    transform: translateX(-50%);
    font-size: 13px;
    padding: 10px;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 50%;
    transition: 0.5s;
}

.Section_work .work_cc>div:hover a::after {
    content: "\eb45";
    border: 1px solid #ddd;

    color: #333;
    border-radius: 5px;
}

.Section_work .work_cc a {
    display: block;
    padding: 10px;
}

.Section_work .container .work_one {
    display: flex;
    gap: 50px;
    padding-top: 50px;
}


.Section_work .container .work_one_a {
    display: flex;
    gap: 50px;
}

.Section_work .itm_st {
    padding-top: 200px;
}

.Section_work .itm_mn {
    padding-top: 100px;
}


.Section_work .container img {
    position: relative;
    width: 500px;
    height: 700px;
    object-fit: cover;
    border-radius: 10px;
}


.Section_work .container figure::after {
    content: attr(data-title);
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 999;
    color: #fff;

}


.Section_work .container .box {
    overflow: hidden;
    margin: 0 0 20px 0;
    border-radius: 10px;
}

.Section_work .container .box img {
    transition: 0.5s;

}

.Section_work .container .box:hover img {
    transform: scale(1.1);
}

.Section_work figure:nth-child(1) {
    transform: translate(0, -50px);
    opacity: 0;
    transition: 0.5s;
}

.Section_work.on figure:nth-child(1) {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

.Section_work figure:nth-child(2) {
    transform: translate(0, -50px);
    opacity: 0;
    transition: 0.5s;
}

.Section_work.on figure:nth-child(2) {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.Section_work figure:nth-child(3) {
    transform: translate(0, -50px);
    opacity: 0;
    transition: 0.5s;
}

.Section_work.on figure:nth-child(3) {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1s;

}

.Section_work figure:nth-child(4) {
    transform: translate(0, -50px);
    opacity: 0;
    transition: 1s;
}

.Section_work.on figure:nth-child(4) {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s 2s;

}

.Section_work figure:nth-child(5) {
    transform: translate(0, -50px);
    opacity: 0;
    transition: 0.5s;
}

.Section_work.on figure:nth-child(5) {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1.5s;

}

.Section_work figure:nth-child(6) {
    transform: translate(0, -50px);
    opacity: 0;
    transition: 0.5s;
}

.Section_work.on figure:nth-child(6) {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1.5s;

}



/* AD */
.Section_AD {

    padding: 100px 0;
    text-align: center;

}

.Section_AD .container {
    max-width: 1900px;
    width: 1600px;
    margin: 0 auto;
    position: relative;

}

.Section_AD h2 {
    text-align: left;
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;

    border-top: 2px solid #fff;
}

.Section_AD p {
    text-align: left;
    font-size: 20px;
    font-weight: 400;


}

.AD {
    padding-top: 100px;
    padding-bottom: 100px;
    /* background: #f2f2f2; */
}

.AD img {
    width: 100%;
    object-fit: cover;

}

.AD .container::after {
    content: "";
    display: block;
    clear: both;
}

.AD .container>* {
    position: relative;
    float: left;
    width: 20%;
    overflow: hidden;
}

.AD .container .tit {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    padding-top: 90px;

}

.AD .container h2 {
    text-align: center;
    padding-top: 10px;
}

.AD p {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

.AD .container span {
    text-align: center;
    display: block;
    font-size: 20px;


}

.AD .container figure:hover .link {
    top: 0;

}

.AD .container .box {
    height: 318px;
    overflow: hidden;
}

.AD .container .link {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.AD .container .link i {
    margin: 0 5px;
}


/* Award */
.Section_Award {

    padding: 100px 0;
    text-align: center;
    background: #feedec;
}

.Section_Award .container {
    max-width: 1900px;
    width: 1200px;
    margin: 0 auto;
    position: relative;

}

.Section_Award h2 {
    padding-top: 20px;
    text-align: left;
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;

    border-top: 2px solid #fff;
}

.Section_Award p {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}

.Award__list {
    margin: 30px 0 0 0;
}

.Award__list li {

    text-align: left;
    font-size: 17px;
    padding-left: 30px;

    border-left: 1px solid #333;
}

.Award__list .year {
    text-align: left;
    font-size: 17px;
    padding-left: 30px;
    padding-bottom: 70px;

}

.Award__list h3 {
    padding: 60px 0 0 0;
    text-align: left;
    font-size: 40px;
    font-weight: 600;

}

.Award__list li span {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}


.Award_right {
    display: inline-block;
    padding-left: 400px;
    padding-bottom: 100px;
    width: 900px;
    object-fit: cover;

}

.ar {
    display: flex;
}





/* footer */
.footer {
    background: #fff;
    color: #000;
    position: relative;
    z-index: 1;

}

.footer .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 50px 285px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer .inner .logo {
    position: absolute;
    left: 0;
    top: 28px;
    width: 150px;

}

.footer .inner .sns_link {
    position: absolute;
    left: 0;
    top: 105px;
}

.footer .inner .sns_link a {
    display: inline-block;
    width: 19px;
    text-align: center;
    line-height: 0;
}

.footer .inner .sns_link a:hover {
    opacity: 0.44;
}

.footer .inner .sns_link a+a {
    margin-left: 23px;
}

.footer .inner .foot_link {
    font-size: 15px;
    line-height: 1em;
}

.footer .inner .foot_link a {
    margin-right: 18px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    letter-spacing: -0.025em;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.footer .inner .foot_link a:hover {
    color: #9f9f9f;
}

.footer .inner .foot_info {
    margin-top: 24px;
    font-size: 14px;
    line-height: 20px;
}

.footer .inner .foot_info ul:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

.footer .inner .foot_info ul li {
    display: inline-block;
    position: relative;
}

.footer .inner .foot_info ul li+li {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}

.footer .inner .foot_info ul li+li::before {
    content: "";
    width: 1px;
    height: 10px;
    background-color: #666;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;
}

.footer .inner .foot_info .copy {
    margin-top: 17px;
    height: 14px;
}